<% provide(:title, 'About Us') %>
<div class="center row">
  <div class="small-12 large-12 columns">
  	<%= image_tag("tour_of_tauranga_logo_900.gif", alt: "BOPMS") %>
  	<h2>
	The Tour of Tauranga is an annual event to raise funds for <br>
	<a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a><br>
    </h2>
    <br>
    <br>
    <left1>
      <h2>For all enquiries, please contact:</h2>
      <br>
      <h7>
    	<strong>BOP MS SOCIETY</strong><br>
                55a Edgecumb Road<br>
				PO Box 15309<br>
				TAURANGA 3114<br><br>
			
				Office - 07 571 6898<br>
			    Rachelle - 021 255 2733<br>
			    Pat - 021 482 643<br>
			Email: <a href="mailto:touroftauranga@gmail.com">touroftauranga@gmail.com</a>
	  </h7>
	</left1>
  </div>
</div>
<br>
<br>
<br>
<div class="center row">
  <div class="small-12 large-12 columns">
	<h2>Website by Greg Standring <a href="mailto:standringg@gmail.com">standringg@gmail.com</a>
	<br> Many thanks to <a href="http://littlegiant.co.nz/">Little Giant</a> Digital Design for graphics used on this site. 
	</h2>
  </div>
</div>
<br>
<br>
<br>