<div class="jumbotron-fixed">
	<div class="container"><center>
  <%= image_tag("tour_of_tauranga_logo_1000.gif", alt: "BOPMS") %></center>
  
	<h2>Welcome to our home page for the Tour of Tauranga , the
	premiere fundraising event for <br>
	<a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a>
  
  
  

    <br>Event Date: Sunday 9 November 2014 <br>
	Registration 7.30-8.30am / Start 9am 
	<br><br><center>
	<%= image_tag("herries_park.jpg", alt: "BOPMS")  %>
	<center><br>
	<br>at Herries Park, downtown Tauranga on the Strand<br><br></h2>
	
	<h1>Tips for the Day</h1><h2>Bring a drink and snacks<br>There are plenty of rest stops along the way <br>Dress for the weather - bring a warm layer <br>Bring a camera <br>Bring your family and friends and have some fun!<br><br>
    
    
	
	
  <%= link_to "Event Details & Entry", event_details_path, class: "btn btn-large btn-primary" %></h2></div>