<% provide(:title, 'Edit Order') %>
<div class="center hero-unit">
  <div class="container"><h1>Edit Order</h1><p id="notice"><%= notice %></p>
<center>
<div class="container">
<h19>

<%= render 'form' %>
</h19>
</div>
</Center>
<br>
<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
</div></div>