 <div class="center row">
 	<fieldset>
      <div class="small-12 large-12 columns">
        <h22>Your Cart</h22>
        <br>
        <br>
        
<table>
  <%= render(cart.line_items) %>
  <tr class="total_line">
  	<td width="10%"></td>
  	<td width="10%"></td>
  	<td width="10%"></td>
  	<td width="60%"><right>Total</right></td>
  	<td width="10%" class="total_cell"><left><%= number_to_currency(cart.total_price) %></left></td>
  </tr>
</table>

<left><%= button_to 'Empty Cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "button large radius" %></left>
<right><%= button_to ' Checkout ', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "button large radius" %></right>
</fieldset>
</div>