<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
   
  <td><h19><%= line_item.quantity %>&times;</h19></td>
  <td><h19><%= line_item.product.title %><h19></td>
  <td class="item_price"><h19><%= number_to_currency(line_item.total_price) %><h19></td>
</tr>
 