<footer class="footer">
  <div class="container">
	<p> <right><%= link_to ".",   users_path %></right>
  <left3> 
<small>
      	&nbsp;<%= link_to image_tag("FindUsOnFB-144.png", alt: "Facebook" ), 'http://facebook.com/touroftauranga', :target=>"_blank" %>      	
      </small>

    </left3><div>
        <center>&nbsp;&nbsp;&nbsp;&nbsp;<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.touroftauranga.co.nz&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=80&amp;appId=412659185421408" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe></center>
      </div>
    <br>
       
      
  <small>
    <a><%= link_to image_tag("msbop.png", alt: "BOPMS"), 'http://bopms.co.nz/',:target=>"_blank" %></a>
  </small>
  <br>
  <ul>
  	<li>
      <%= link_to "About",   about_path %>
  	</li>
  </ul>
  <br>
    <center>
      Copyright 2014. BOP MS Society. All rights reserved.</P1>&nbsp;&nbsp;&nbsp;&nbsp;
    </center>
  </div>
 </footer>    


